<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>便利淘 怎样联系上创始人</title>
	<link rel="stylesheet" href="__PUBLIC__/css/tbase.css" />
	<style>
		.w{padding: 4vw 3vw;}
		h1{font-size: 5vw;margin-top: 6vw;}
		h4{font-weight: normal;margin-top: 5vw;margin-bottom: 5vw;}
		img{display: block;width: 50%;margin-left: auto;margin-right: auto;}
	</style>
</head>
<body>
	<div class="w">
		<p>来便利淘,省钱又赚钱,更多赚钱机密,联系便利淘创始人,一对一传授经验,反馈问题,一起讨论,发现更多便利淘的快乐...</p>
		<h1>那怎么联系上我们的创始人呢?</h1>
		<h4>第一步:关注【便利淘】公众号</h4>
		<img src="__PUBLIC__/images/terwei.png" />
		<p style="text-align: center;">便利淘微信公众号</p>
		<h4>第二步:点击底部【+创始人】菜单,加创始人微信,一对一服务</h4>
		<img style="width: 60%;margin-bottom: 5vw;" src="__PUBLIC__/images/tweixin.png" />
		<p>还等什么？快去联系创始人！</p>
	</div>
</body>
</html>