<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width , initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>分享超级淘</title>
	<link rel="stylesheet" href="__PUBLIC__/css/tbase.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/superEnjoy.css">
</head>
<body>
	<div class="header">
		<img src="__PUBLIC__/images/topbg.png" />
		<a class="invita" href="blt://shareM">立即邀请</a>
	</div>
	<div class="main flex fja fac">
		<div class="mode">
			<p>好友累计网购消费</p>
			<strong>0</strong><small>元</small>
		</div>
		<span></span>
		<div class="mode">
			<p>成功邀请好友</p>
			<strong>0</strong><small>人</small>
		</div>
	</div>
	<div class="wb">
		<fieldset class="word">
			<legend>奖励规则</legend>
			<ol>
				<li>好友需要通过您的专属链接领取新人红包,并在24小时内注册便利淘。</li>
				<li>好友通过便利淘每网购一笔订单,您的年化收益即可获得相应提高,不设上限。</li>
				<li>禁止通过作弊手段进行虚假邀请注册骗取奖励,如有发现，将取消其奖励并酌情处罚。</li>
				<li>新邀请奖励规则从2017年1月1日开始施行。</li>
				<li>本活动最终解释权归便利淘所有。</li>
      </ol>
		</fieldset>
	</div>
</body>
</html>